.jumbotron-fluid {
    text-align: center;
    
}
.guestStart {
   align-content: center;
}
.entireForm {
    align-content: center;
    margin: auto
   
}
footer {
    text-align: center;
}
.w-50 p-3 {
    align-content: center;
    text-align: center;
    align-self: center;
}
.guestStart {
    align-content: center;
    text-align: center;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
