.jumbotron-fluid {
    text-align: center;
}
.entireForm {
    align-content: center;
   
}
footer {
    text-align: center;
}
.w-50 p-3 {
    align-content: center;
    text-align: center;
    align-self: center;
}