body {
    background-image: url(http://aws-cf.ados.fr/prod/articles/7/0/2/8088702/4762168/big-476216842e.jpg?v=4);
}
.bS {
    align-content: center;
    text-align: center;
    
}
#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.container {
    align-content: center;
    text-align: center;
}
.currentWeather {
    float: left;
    background-color: black;
}
.cityWeather {
    float: right;
    background-color: black;
}